@model MvcCv.DAL.Entities.TblSosyalMedya

@{
    ViewData["Title"] = "YetenekGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h4>Sosyal Medya Güncelleme</h4>
<br />

<form method="post">

    <input type="hidden" asp-for="ID" />
    <br />
    <input type="text" asp-for="Ad" class="form-control" placeholder="Medya adını yazınız" />
    <br />
    <input type="text" asp-for="Link" class="form-control" placeholder="Link yazınız" />
    <br />

    <button class="btn btn-info">Güncelle</button>

</form>
